* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    font-family: "roboto", Monospace;
}

.head {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;

}

.header {
    background: midnightblue;
    color: white;
    text-align: center;
    font-family: "Comic Sans MS", Monospace;
    font-style: italic;
    padding: 15px;
    width: 100%;
}

.links-slider {
    background: darkblue;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: red;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-family: "Trebuchet MS", italic;
}

.links-slider a {
    color: white;
    margin: 2px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.links-slider a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.5s;
}

.main-content {
    color: black;
    margin: 10px;
    padding-top: 200px;
    padding-bottom: 50px;
}

.main-content h2 {
    color: cyan;
    border-bottom: 3px solid cyan;
    border-left: 3px solid cyan;
    text-align: center;
}

.main-content p {
    color: white;
    margin: 10px;
}

.contact a {
    color: lightblue;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.contact p {
    font-weight: bold;
}

.about, .services, .why-choose, .how-use {
    padding-bottom: 100px;
}

.black-section {
    background: black;
    color: white;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    border-top: 1px solid white;
    font-size: 12px;
    font-family: "Courier", Sans-Serif;
}

.black-section h4 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 14px;
}

.black-section p {
    font-size: 12px;
    text-align: center;
    margin: 10px;
}

.black-section a {
    color: cyan;
    text-decoration: none;
    font-size: 13px;
}

.links a {
    text-align: center;
    color: lightgrey;
    font-size: 15px;
}

footer {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 12px;
}